<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<title>Dynatree - Example</title>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.form.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.msgBox.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/msgBoxLight.css" rel="stylesheet">

	<!--<script src="js/jquery.js" type="text/javascript"></script>-->
	<script src="js/jquery-ui.custom.min.js" type="text/javascript"></script>
	<script src="js/jquery.cookie.js" type="text/javascript"></script>

	<link href="css/ui.dynatree.css" rel="stylesheet" type="text/css">
	<script src="js/jquery.dynatree.js" type="text/javascript"></script>
	<!-- End_Exclude -->

	<!-- Start_Exclude: This block is not part of the sample code -->
	<link href="css/prettify.css" rel="stylesheet">
	<script src="js/prettify.js" type="text/javascript"></script>
	<link href="css/sample.css" rel="stylesheet" type="text/css">
	<script src="js/sample.js" type="text/javascript"></script>
	<!-- End_Exclude -->

	<link href="css/checkbox.css" rel="stylesheet" type="text/css">

	<style>
		form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
		#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
		#bar { background-color: #EDCA7E; width:0%; height:20px; border-radius: 3px; }
		#percent { position:absolute; display:inline-block; top:3px; left:48%; }
	</style>

	<script type="text/javascript">
		var cmp = function(a, b) {
		  a = a.data.title.toLowerCase();
		  b = b.data.title.toLowerCase();
		  return a > b ? 1 : a < b ? -1 : 0;
		};

		function bytesToSize(bytes) {
	    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
	    if (bytes == 0) {
	    	return "0 " + sizes[1];
	    }
	    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
	    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
		};

		$(function() {
			// list/download
			$("#tree").dynatree({
				debugLevel: 0,	// 0:quiet, 1:normal, 2:debug
				//autoCollapse: true,
				initAjax: {
					noLink : true,
					url: "/list"
	      },
	      onClick: function(node, event) {
	      	if(node.getEventTargetType(event) == "title" && !node.data.isFolder) {
						$.msgBox({
						  title   : "Are You Sure",
						  content : "Would you like download " + node.data.title,
						  type    : "confirm",
						  buttons : [{ value: "Yes" }, { value: "No" }],
						  success : function (result) {
		  		      if (result == "Yes") {
						  	  window.location.href = node.data.path;
						    }
						  }
						});
				  }
				},
				onPostInit: function(isReloading, isError) {
					setTimeout(function () {
						var rootNode = $("#tree").dynatree("getRoot");
						rootNode.sortChildren(cmp, true);
					}, 0);			
				},
				onCustomRender: function (node) {
					if (!node.data.isAppend && node.data.size != undefined) {
						node.data.title += " - " + bytesToSize(node.data.size);
						node.data.isAppend = true;
					}
				}
			});

			$("#btnSortAll").click(function(){
				var node = $("#tree").dynatree("getRoot");
				node.sortChildren(null, true);
			});

			$("#btnToggleExpand").click(function(){
				$("#tree").dynatree("getRoot").visit(function(node){
					node.toggleExpand();
				});
				return false;
			});

			// upload
			var options = {
				beforeSend: function() {
					$("#progress").show();
					//clear everything
					$("#bar").width('0%');
					$("#message").html("");
					$("#percent").html("0%");
				},
				uploadProgress: function(event, position, total, percentComplete) {
					$("#bar").width(percentComplete+'%');
					$("#percent").html(percentComplete+'%');
				},
				success: function() {
					$("#bar").width('100%');
					$("#percent").html('100%');
				},
				complete: function(response) {
					$("#message").html("<font color='green'>"+response.responseText+"</font>");
					window.location = "/";
				},
				error: function() {
					$("#message").html("<font color='red'> ERROR: unable to upload files</font>");
				} 
			};
			$("#myForm").ajaxForm(options);
		});

		function btnClickaCol(cb) {
		  $("#tree").dynatree("option", "autoCollapse", cb.checked);
		}

		function btnClickShowCb(cb) {
		  $("#tree").dynatree("option", "checkbox", cb.checked);
		  var tree = $("#tree").dynatree("getTree");
		  tree.reload();
		}
	</script>
</head>
	<h3>File List/Download Example</h3>

	<hr size="3" align="center" noshade width="100%" color="gray">
	<a href="#" id="btnSortAll">Sort tree</a> |	<a href="#" id="btnToggleExpand">Toggle expand</a>
	<br>

	<div id="tree"></div>

	<input id="autoCollapse" class="css-checkbox" type="checkbox" onclick="btnClickaCol(this);"/>
	<label for="autoCollapse" class="css-label">Auto Collapse</label> |

	<input id="showCheckBox" class="css-checkbox" type="checkbox" onclick="btnClickShowCb(this);"/>
	<label for="showCheckBox" class="css-label">Show CheckBox</label>

	<br><br>
	<h3>FileUpload Example</h3>
	<hr size="3" align="center" noshade width="100%" color="gray">

	<form id="myForm"
				action="/upload_form"
				method="post"
				enctype="multipart/form-data">
	  <input type="file" size="60" name="myfile" multiple>
	  <input type="submit" value="Ajax File Upload">
	</form>
	 
	<div id="progress">
		<div id="bar"></div>
		<div id="percent">0%</div >
	</div>
	<br/>
	<div id="message"></div>

	<a href="/" class="btn">Refresh</a>
	<br>
</body>
</html>
