<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-combined.min.css" />
	<script src="./js/bootstrap.min.js"></script>
	<title> Welcome </title>
</head>
<body>
	<h2>Hello <%= user.username %>.</h2>

	<br><input class="btn btn-primary btn-large" type="button" value="Profile" onclick='window.location="/account"'><br>
	<br><input class="btn btn-primary btn-large" type="button" value="LogOut" onclick='window.location="/logout"'><br>
</body>
</html>