<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-combined.min.css" />
	<script src="./js/bootstrap.min.js"></script>
	<title> Welcome </title>
</head>
<body>
	<h2>Hello,<%= user.username %>.</h2>
	<ul>
		<h5>
		<li>Username: <%= user.username %></li>
		<li>Password: <%= user.password %></li>
		<li>Email: <%= user.email %></li>
		</h5>
	</ul><br>	
	<input class="btn btn-primary" type="button" value="LogOut" onclick='window.location="/logout"'>
</body>
</html>